@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root{
    /* wont work in inline CSS. */
    --primary-color: #fdba74;
}

*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body{
    font-family: 'Architects Daughter', cursive;
}


.container {
    padding: 0rem 1rem;
}


.container-center{
    max-width: 800px;
    margin: auto;
}

.navigation{
    background-color: var(--primary-color);
    color: black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem; 
    display: flex;
    flex-direction: row;   
}

.nav-brand{
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    flex:none;
    padding: 2rem 2rem 0rem 5rem;
    margin-left: 25rem;
}

.img{
    max-width: 50px;
    display: flex;
    margin: 0rem 0rem;
}

/*Textarea*/
.txt{
    width: 80%;
    height: 15vh;
    display: block;
    margin: 0rem 0rem 2rem 5rem;
    padding: 1rem;
}

/*button*/
#btn-translate{
    font-family: 'Architects Daughter', cursive;
    font-size: 17px;
    font-weight: bold;
    padding: 1rem;
    margin-left: 5rem;
    background-color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
}

#btn-translate:hover{
    background-color: #fb923c;
}

.st{
    font-size: x-large;
    text-align: center;
    padding: 1rem 0rem;
    font-weight: bold;
}

/*footer*/
.footer{
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding-inline-start: 0px;
    
}
.footer .footer-header{
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 1rem;

}
